build/
build-*/
*.user
*.pro.user
.cache/
compile_commands.json
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
Makefile
*.o
*.a
*.so
*.dylib
*.qm
moc_*
qrc_*
ui_*
*.autosave
.DS_Store
