<?xml version="1.0"?>
<manifest package="org.poisson48.ecudrive" xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="170" android:versionName="1.7.0" android:installLocation="auto">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_FILES"/>
    <uses-feature android:name="android.hardware.usb.host" android:required="false"/>
    <uses-feature android:name="android.hardware.bluetooth" android:required="false"/>

    <application android:hardwareAccelerated="true"
        android:label="ECU Drive"
        android:extractNativeLibs="true"
        android:requestLegacyExternalStorage="true">
        <activity android:name="org.qtproject.qt.android.bindings.QtActivity"
            android:configChanges="orientation|uiMode|screenLayout|screenSize|smallestScreenSize|layoutDirection|locale|fontScale|keyboard|keyboardHidden|navigation|mcc|mnc|density"
            android:label="ECU Drive"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- Ouvrir .ecutune depuis Files -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:mimeType="*/*" android:pathPattern=".*\\.ecutune"/>
            </intent-filter>
            <!-- USB device attached -->
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"/>
            </intent-filter>
            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter"/>
        </activity>

        <receiver android:name="org.poisson48.ecudrive.UpdateHelper$InstallReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="org.poisson48.ecudrive.INSTALL_STATUS"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
